
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
}
html, body {
    overflow: auto;
    margin: 0;
    background-color:white;
    justify-content: center;
    align-items: center;
    
}
header{
    background-color: #424C55;
    height: 100px;
    width: 100%;
    margin: 0;
    font-size: 30px;
    padding-top: 10px;
}
.header a{
  color: white; 
  text-decoration: none;
   
}
.header a:hover{
    color: rgb(190, 190, 190);
    transition: color 0.5s ease;
    color: white; 
}
.header a b{
    font-size: 50px;
}


li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(217, 217, 217);
    margin: auto;
    display: block;
    color: white; 
    
}
li a:hover::after{
    width: 100%;
   transition: width 0.3s linear;
    
}
li a:hover{
    color: rgb(217, 217, 217);
    ; 
}





/* ------------ TELO ----------   */

/*------------kontakt--------------*/







footer{
    background-color: #424C55;
    height: 150px;
    width: 100%;
    margin: 0;
  margin-top: 550px;
    color: white;
    text-align: center;
    padding-top: 80px;
}
footer a{
    color: white;
    text-decoration: none;
}
